<div class="container">
  <h3 class="text-primary justify-content-center"> Crypto Compare for 1000 Euros Conversion
  </h3>
  <div class="d-flex justify-content-center m-5" *ngIf="!exchangeUsingXRP">
    <div class="spinner-border" role="status">
    </div>
  </div>
<div class="row" *ngIf="exchangeUsingXRP"> 
  <div class="text-primary col-3">
    Euro To Inr: {{euroToInr}}
  </div>
 <div class="col-3 text-primary">Normal Exchange  : <span class="text-primary">{{normalEuroToInr | number}}</span></div>
</div>
<div class="row m-3">
  <div class="col-sm-4">
    <app-crypto-card [cardDetail]="xrpCard" [header]="'Ripple'"></app-crypto-card>
  </div>
  <div class="col-sm-4">
    <app-crypto-card [cardDetail]="ltcCard" [header]="'LiteCoin'"></app-crypto-card>
  </div>
  <div class="col-sm-4">
    <app-crypto-card [cardDetail]="btcCard" [header]="'Bitcoin'"></app-crypto-card>
  </div>
</div>
<div class="row m-3">
  <div class="col-sm-4">
    <app-crypto-card [cardDetail]="ethCard" [header]="'Ethereum'"></app-crypto-card>
  </div>
  <div class="col-sm-4">
    <app-crypto-card [cardDetail]="xlmCard" [header]="'Stellar XLM'"></app-crypto-card>
  </div>
  <div class="col-sm-4">
    <app-crypto-card [cardDetail]="linkCard" [header]="'Chain LINK'"></app-crypto-card>
  </div>
</div>

<div class="m-1">
<hr>
<h5 class="text-primary">Courtesy Apis: </h5>
<ul type="circle">
  <li><a href="https://www.bitstamp.net/api/v2/ticker/xrpeur?callback=jsonp" target="_blank">BitStamp</a></li>
  <li><a href="https://www.bitbns.com/order/fetchTickers" target="_blank">BitBns</a></li>
  <li><a href="https://api.exchangeratesapi.io/latest?base=EUR&symbols=INR" target="_blank">Exchange Rates</a></li>
</ul>
</div>