<div class="container">
  
<div class="row" *ngIf="xrpINR"> 
  <span class="col-12 text-primary"><h2> Crypto Compare
  </h2>
</span>
  <div *ngIf="xrpEur" class="col-3 m-1">
    <div class="m-2 text-primary"><h6><u>XRP Euro Standings:</u></h6></div>
    <div class="m-2">
      <span>Last sold price: {{xrpEur.last}}</span>
    </div>
    <div class="m-2">
      <span>Today High price: {{xrpEur.high}}</span>
    </div>
    <div class="m-2">
      <span>Last bid price: {{xrpEur.bid}}</span>
    </div>
  </div>  
  <div *ngIf="xrpINR" class="col-5 m-1">
    <div class="m-2 text-primary"><h6><u>XRP INR Standings:</u></h6></div>
    <div class="m-2">
      <span>Last sold price: {{xrpINR.last_traded_price}}</span>
    </div>
    <div class="m-2">
      <span>Today High price: {{xrpINR.highest_buy_bid}}</span>
    </div>
    <div class="m-2">
      <span>Today Low price: {{xrpINR.lowest_sell_bid}}</span>
    </div>
  </div>  
  <div *ngIf="euroToInr" class="col-6 text-primary">
    Euro To Inr: {{euroToInr}}
  </div>
  <hr>
 <span class="col-12 m-2">Direct Exchange Value for 1000 Euros in INR : <span class="text-primary">{{1000 * euroToInr}}</span></span>
 <span class="col-12 m-2">Number of Ripples for 1000 Euors in bitstamp: <span class="text-primary">{{1000 / xrpEur.last}}</span></span>
 <span class="col-12 m-2">Exchange of  1000 Euors to INR via XRP : <span class="text-primary">{{1000 / xrpEur.last * xrpINR.last_traded_price}}</span></span>
</div>

</div>
<router-outlet></router-outlet>